.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  background-image: linear-gradient(rgb(231, 231, 231),rgb(131, 131, 131));
  display: flex;
  flex-direction: column;
  margin:auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.product{
  background-color: rgb(193, 207, 202);
  color: rgb(0, 15, 56);
  border-radius: 0px 15px 1px 15px ;
  border-style: groove;
  border-color: lightslategray;
  padding: 10px;
  align-items: center;
  width: 50vh;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.addNewProduct{
  background-image:linear-gradient(rgb(112, 202, 100),rgb(90, 199, 117)) ;
  width: 25vh;
  border-radius: 5vh;
  padding: 2vh;
  align-self: center;
}
.addProduct{
  border-radius: 0px 15px 15px 15px ;
  padding: 5px;

}
.product-name{
  justify-content: center;
}

.p-decrease{
  border-radius: 100px;
   padding: 10px;
   flex-direction: row;
}
.p-count{
background-color: rgba(206, 211, 209, 0.842);
flex-direction: row;
border-radius: 10px;
padding: 10px;
font-size: 20px;
height: min-content;
justify-content: start;
}
.p-increase{
  border-radius: 100px;
   padding: 10px;
   flex-direction: row;
}
.control{
  background-color: rgb(152, 199, 182);
  padding: 2vh;
  height: 20vh;
  border-radius: 2vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.addButton{
  background-color: red;
}

